body{
    background-color:antiquewhite;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size:cover;

    margin: 0px;
}
main #home{
    font-family: 'Lucida Sans';
    font-style:italic;
}
#imgEdit{
    float: left;
    margin-top:20px;
    margin-right:50px;
    size: 10px;
    border-radius:100px;
}
main{
    margin-left:20px;
    margin-right:20px;
}
h1{
    font-family:Helvetica;
    font-size: 30px;
    text-align:Left;
}
h3::first-letter{
    font-size: 60px;
    position: fixed;
}
h3{
    text-align:left;
    font-family: 'Lucida Sans';
    font-style:italic;
    font-size:50px;

}
.navbar ul{
    list-style: none;
    background-color: rgb(174, 170, 170);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-weight: bold;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:black;
}
.navbar li{
    float: left;
}

.navbar .content{
    display:none;
    position:absolute;
    background-color:rgb(174, 170, 170);
    min-width:150px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.828);
}
.navbar:hover .content{
    display:block;
}
